body, div, section, a, span, p, button, input {
  font-family: 'Courier New', monospace;
  line-height: 1;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
}
button {
  cursor: pointer;
}
#container {
  height: 350px;
  width: 240px;
  margin: 180px auto;
  padding: 10px;
  border-radius: 5px;
  background: #EEEEEE;
  border: 1px solid #E0E0E0;
}
#display {
  width: 215px;
  margin: 5px;
  text-align: right;
  padding: 20px 15px;
  border-radius: 5px;
  background: #0070efb9;
  color: #FFF;
}
#display .clean {
  float: left;
  font-size: 17px;
  border-radius: 50%;
  background: #FFF;
  color: #0070efb9;
  width: 22px;
  height: 22px;
  text-align: center;
  cursor: pointer;
}
#inputs {
  height: 205px;
}
#numbers {
  width: 160px;
  float: left;
}
#operations {
  width: 50px;
  float: right;
}
.defaultButton {
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  margin: 1px;
  width: 50px;
  padding: 10px 0;
  text-align: center;
}
#numbers .defaultButton {
  background: #1976D2;
  border: 1px solid #1565C0;
  color: #FFF;
}
#numbers .defaultButton.greenBtn {
  background: #0c2fca83;
  color: #FFF;
  width: 155px;
}
#operations .defaultButton {
  background: #757575;
  color: #FFF;
}